main {
    background: linear-gradient(180deg, rgba(9,1,38,1) 25%, rgba(11,0,91,1) 100%);
    color: #fff;
}

/* ---------------------------- Superinfo --------------------------- */

.superinfo-bg {
    background-color: #090126;
    color: #fff;
}

.superinfo {
    display: flex;
    flex-wrap: wrap;
    max-width: 85rem;
    justify-content: space-between;

    margin: 0 auto;
    padding: 0.5rem 2rem;
    font-size: 0.75rem;
}

.superinfo a {
    color: #fff;
}

/* ---------------------------- Menu --------------------------- */

.menu {
    max-width: 85rem;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-logo a {
    font-weight: 400;
    text-transform: none;
    font-size: 1.5rem;
}

.menu-navigation a {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875rem;
    display: block;
}

.menu-navigation a:hover {
    color: #5898ff;
}

.menu-navigation ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 0.8rem;
}

/* ---------------------------- Hero --------------------------- */

.hero {
    max-width: 85rem;
    margin: 3rem auto;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-size: 3rem;
}

.hero img {
    margin: 1rem 0;
}

.hero p {
    font-size: 1.5rem;
}

/* ---------------------------- About --------------------------- */
.about {
    max-width: 85rem;
    margin: 6rem auto;
    padding: 0 2rem;

    display: flex;
    flex-wrap: wrap;
}

.about-info {
    flex: 2 1 20rem;
}

.about-info h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.about-info p {
    margin: 1rem 1rem 1rem 0;
}

.about-img {
    flex: 1;
    margin: 1rem;
}

.about-img img {
    margin: 0 auto;
}

/* ---------------------------- Products --------------------------- */

.products {
    max-width: 85rem;
    margin: 4rem auto;
    padding: 0 2rem;
}

.products-intro{
    width: 100%;
    max-width: 50rem;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 2rem;
    margin: 4rem 0;
}

.products-item{
    flex: 1 1 175px;
}

.products-item h3 {
    font-size: 1.5rem;
    background-color: #0b005b;
    padding: 2rem 1rem;
}

.item1{
    border-top: 8px solid #f00;
}

.item2{
    border-top: 8px solid #ffff00;
}

.item3{
    border-top: 8px solid #00f;
}

/* ---------------------------- Price --------------------------- */

.prices-bg{
    background-color: #09012644;
    margin: 6rem 0 4rem 0;
    padding: 4rem 0;
}

.prices{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 2rem;
    
    margin: 0 auto;
    max-width: 85rem;
}

.prices-item{
    flex: 1 1 260px;
    border: 4px solid #00000022;
    padding: 2rem;
}

.prices-item h3{
    font-size: 2rem;
    color: #ffffff66;
    text-align: center;
    margin-bottom: 1rem;
}

.prices-item span{
    max-width: 300px;
    margin: 1rem auto;
    display: block;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding: 0.6rem 0 0.3rem 0;
    border-top: 4px solid #00000022;
    border-bottom: 4px solid #00000022;
}

.prices-item sup{
    font-size: 1rem;
    margin-right: 0.5rem;
}

.prices-item ul{
    max-width: 300px;
    margin: 2rem auto;
    font-style: italic;
}

.prices-item li{
    display: flex;
    color: #ffffff66;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.prices-item li::after{
    content: ' ';
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    background: #66d9eb;
    border-radius: 50%;
}

.prices-item a {
    display: block;

    max-width: 300px;
    margin: 1rem auto;
    border: 4px solid;
    color: #fff;
    padding: 1rem 0;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;

    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.prices-item a:hover{
    background-color: #fff;
    color: #09003E;
}

/* ---------------------------- Challenges --------------------------- */
.challenges{
    max-width: 85rem;
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
}

.challenges-item {
    flex: 1 1 300px;
    margin: 2rem 0;
    padding: 0 2rem;
}

.challenges-item h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.challenges-item h3::before {
    content: ' ';
    display: inline-block;
    width: 0.5rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.challenges-item:nth-of-type(3n+1) h3::before {
    background: #f00;
}

.challenges-item:nth-of-type(3n+2) h3::before{
    background: #ff0;
}

.challenges-item:nth-of-type(3n+3) h3::before{
    background: #00f;
}

/* ---------------------------- Footer --------------------------- */

.footer {
    background-color: #0b005b;
    color: #fff;
}